.mainTab {
  width: 200px;
}
#mainWindow {
  background-color: #889eb5;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}
#menu {
  background-color: rgb(255, 255, 255);
  width: 100%;
  /*height: 20px;*/
}
